#banniere {
	height:70px;
}


.image {
	float: left;
	min-width: 150px;
	min-height: 150px;
	}

#stitre {
	text-align: center;
}

#logo {
	display:inline;
	float:left;
}

#banniere img{
	height:60px;
	margin-right:10px;
}

#banniere a{
	float:left;
	margin-left:10px;
}

#banniere form {
	float:right;
}

#banniere input {
	float:left;
}

#pied {
	bottom:5px;left:5px;right:5px;
	border-top :1px solid black;
	padding:20px;
	margin:10px;
}

#corps {
	border :1px solid black;
	padding:20px;
	margin:10px;
}

#titre {
	border :1px solid black;
	padding:20px;
	margin:10px;
}





